@charset utf-8;
.fl {
  float: left;
}
.fr {
  float: right;
}
a {
  text-decoration:none;
}
/*header*/
#header {
  margin: 15px 0;
}
#header_inner {
  margin:0 auto;
  width:920px;
}
#header_title a {
  display:block;
  font-size: 30px;
}
#header_title .searchform {
  padding: 18px 0 0;
}
#header #navigation {
  padding:5px 0 0;
}
#header #navigation .menu {
  /*float: left;*/
}
/*#header #navigation li {
position:relative;
display:inline;
float:left;
margin:0 15px 0 0;
height:37px;
}
#header #navigation li a {
display:block;
float:left;
padding:0 10px;
height:37px;
border-radius: 5px;
color:#2a2a29;
text-align:center;
font-size:18px;
line-height:37px;
}*/
.nav-pills > li.current_page_item > a,
.nav-pills > li.current_page_item > a:hover,
.nav-pills > li.current_page_item > a:focus {
	background-color: #eee;
  color: #fff;
}
#header #feedsky {
  padding-left:42px;
  height:32px;
  background:url(images/icon.png) no-repeat 0 -348px;
  line-height:32px;
  line-
}
#header #mail {
  margin-right:15px;
  padding-left:57px;
  height:32px;
  background:url(images/icon.png) no-repeat 0 -276px;
  line-height:32px;
  line-
}
#header #mail a:hover,
#header #feedsky a:hover {
  color:#5e5e5e;
  text-decoration:none;
}
#header .page-msg {
  padding-top: 10px;
}
/*main*/
#main h2 {
  padding-bottom:15px;
}
#main .post {
  padding:0 0 20px;
}
#main .post_title {
  padding:0 0 5px;
  border-bottom:1px solid #cecece;
	font-size:22px;
}
#main .post_title a {
  color: #444;
}
#main .post_title a:hover {
	text-decoration: none;
  color:#878787;
}
#main .entry {
  position:relative;
  padding:0 0 20px;
  line-height:24px;
}
#main .entry .post_data {
  padding:10px 0 0;
}
#main .entry p {
  padding:10px 0;
  text-indent:2em;
}
#main .entry h4 {
  font-size:20px;
}
#main .entry span {
  padding:0 15px 0 18px;
}
#main .date {
  background:url(images/icon.png) no-repeat 0 -144px;
}
#main .category {
  background:url(images/icon.png) no-repeat 0 -35px;
}
#main .tag {
  background:url(images/icon.png) no-repeat 0 -214px;
}
#main .comment {
  position:absolute;
  top:10px;
  right:0;
}
#main .show_comment {
  background:url(images/icon.png) no-repeat 0 -107px;
}
#main .add_comment {
  background:url(images/icon.png) no-repeat 0 -71px;
}
#main .post_content {
  padding:25px 0 0;
}
#main .more {
  display:block;
  padding:10px 0 0;
}
#main .page_navi {
  text-align:center;
}
#main .page_navi a {
  padding:0 3px;
  border:1px solid #06c;
}
#main .page_navi .prev,
#main .page_navi .next {
  border:none;
}
#main .errorbox {
  padding:50px 0;
  text-align:center;
}
#main #ckepop {
  padding-top:10px;
}
/*foot*/
#footer {
  margin-top:40px;
  text-align:center;
}
#footer span {
  padding-right:15px;
}
/*404*/
#main .erroepage {
  margin:40px auto 0;
  width:640px;
}
/*comment*/
#main .commentlist li {
  padding:10px 10px 10px 0;
  border-top:1px solid #cecece;
}
#main .commentlist .comment_data {
  padding-left: 10px;
}
#main .commentlist .comment_data a {
  color:#666;
  font-size:12px;
}
#main .commentlist .gravs {
  padding:0 0 20px;
  line-height:22px;
}
#main .commentlist .gravs img {
  float:left;
  padding:0;
}
#main .commentlist p {
  margin: 8px 0;
  padding:0 30px 0 60px;
}
#main .commentlist .thdrpy {
  padding-top: 10px;
}
#main #respond {
  padding:0 0 15px;
}
#main #commentform input {
  padding:3px 3px 3px 6px;
  border:1px solid #cecece;
  color:#666;
}
#main #commentform textarea {
  margin:3px 0 15px;
  padding:5px;
  width:500px;
  border:1px solid #cecece;
  color:#666;
  font:14px Helvetica, Arial, Sans-serif;
}
#main #commentform #submit {
  width:143px;
  height:27px;
  border:none;
  background:url(images/max_image.png) no-repeat;
  cursor:pointer;
}
#main #commentform p {
  margin-bottom:8px;
}
/*page*/
#main .pageentry p {
  padding:0 0 13px;
}
